body {
  opacity: 0;
  animation: background 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;

}

/** 2 Handheld **/




/* 1 Global fade in */
@keyframes background {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}