:root {
    --textcolor: #3e3e3e;
    --textsecondarycolor: #828282;
    --cardbg: white;
    --bqindents: 40px;
    --border-raduis: 2px;
    --shadow-one: 0 1px 3px rgba(31, 17, 11, 0.08), 0 1px 2px rgba(44, 33, 29, 0.12);
    --shadow-two: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    --shadow-inset: inset 0px 10px 84px -23px rgba(17, 20, 38, 0.1);
    user-select: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    background: #ffffff;
    opacity: 0;
    height:100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
div {
    font-family: quiroh, helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top: 0;
    font-style: normal;
    color: var(--textcolor);
}

h4 {
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
}

#screen{
width:100%;
}

.flex-one{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}

#status{
    display: flex;
    background-color: rgba(0, 0, 0, 0.104);
    flex-wrap: wrap;
    width:100%;
    height:5vh;
}

#board {
    width:100%;
    height: 80vh;
}

#messages{
    font-size: 3vh;
    text-align: center;
    font-size: 2.5vh;
    padding: 0.6vh 1.5vh;
    color: #404040;
    background: rgb(255, 252, 206);
    border-radius: 4px;
    text-align: center;

}

#inner-board{
    width:100%;
    margin:5vh 1.5vh 30vh 1.5vh;
    height:45vh;
}

#table{

}


#tablecontainer {
    width: 100%;
}

#deckcontainer {
    position: absolute;
    bottom:10vh;
    right:3vh;
    background: #dadada;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 2s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}
#deckCounter{
    padding:1.5vh;
    text-align:right;
    position: absolute;
    right:0;
}


#deck{
    height:24vh;
    width:20vh;
    background:#ffffffd0;
}

#handcontianer {
    box-shadow: var(--shadow-one);
    position: fixed;
    overflow: scroll;
    width: 100%;
    height: 30vh;
    padding-top:5vh;
    background: rgba(255, 255, 255, 0.851);
    z-index: 30;
    bottom:0;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

#handcontianer .handCounterH{
    top:0;
    padding:2.5vh;
    position: absolute;

}


#handcontianer.hide {
    bottom:-20vh;
}


#hand{
    position: relative;
    top: -5vh;
    height:30vh;
}

 .jumbotron{
text-align: center;
padding-top:8vh;
padding-bottom:2vh;
width: 100%;
height:8vh;
min-height:40px;
}



.ui-wrapper {

}

.cardsGoHere {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    transition: background-color 150ms cubic-bezier(.25, .8, .25, 1);

}

.card {
    display: inline-flex;
    overflow: hidden;
    background: var(--cardbg);
    border-radius: var(--border-raduis);
    padding-left: 2.5vh;
    padding-right: 2.5vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin:1.5vh;
    height:20vh;
    width:15vh;
   transition: width 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   transition: opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    box-shadow: var(--shadow-one);
    cursor: pointer;
}



.card:hover,
a.button:hover {
    box-shadow: var(--shadow-two);
    transform: scale(1.05);

}

.card:active,
a.button:active {
    box-shadow: var(--shadow-inset);
    opacity: 0.9;
}




a.button {
    padding: 5px 10px;
    color: var(--textcolor);
    box-shadow: var(--shadow-one);
    font-size: 10px;
    margin: 0 15px;
    font-weight: 700;
    transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
    display: inline-table;
    cursor: pointer;
}


/* dragging */
.draggable-source--is-dragging {
    opacity: 0.15;
    overflow: hidden;
    box-shadow: none !important;
}


.draggable-mirror {
    box-shadow: 7px 99px 134px -45px rgba(0, 0, 0, 0.31) !important;
    opacity: 0.8;
    z-index: 50;
}

.draggable-container--over {
    background-color: #eeeeee;
}

div {
    outline: none !important
}



.bottomThird {
    position: absolute;
    z-index: -1;
    height: 35vh;
    bottom: 0;
    width: 100%;
}


/* deck misc */

#deck .card:nth-child(n+2) {
    position: absolute;
    box-shadow: 0 1px 5px rgba(70, 68, 67, 0.08), 0 1px 2px rgba(152, 148, 147, 0.12);
}

#deck .card:nth-child(1) {
    z-index: 2;
}

#deck .card:not(:hover) div {
    visibility: hidden;
}

#deck .card:not(:hover) {
    background-size: contain ;
    background-image: url('img/backs.png');
    background-position: center;
}


.dim{
opacity: 0.80;
}

.invisible{
    opacity: 0;
}

.off{
    display:none;
}

/* animation */
.popin{
transform: scale(0.01)
}

.widthIn{
    width:1px!important;
opacity: 0;

}
