:root {
    --textcolor: #3e3e3e;
    --textsecondarycolor: #828282;
    --cardbg: white;
    --bqindents: 40px;
    --border-raduis: 2px;
    --shadow-one: 0 1px 3px rgba(31, 17, 11, 0.08), 0 1px 2px rgba(44, 33, 29, 0.12);
    --shadow-two: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    --shadow-inset: inset 0px 10px 84px -23px rgba(17, 20, 38, 0.1);
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{margin:0;}

p,
h1,
h2,
h3,
h4,
h5,
li,
div {
    font-family: quiroh, helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top:0;
    font-style: normal;
    color: var(--textcolor);
}

h4{
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
}

body {
    background: #ffffff;
    opacity: 0;
}

.ui-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
    overscroll-behavior: none;
    opacity: 0.4;
}

.cardsGoHere{
    display: flex;
    flex-wrap: wrap;
    min-height:100px;
    transition: min-height 0.5s ease-in;
}

.card {
    display: inline-flex;
    background: var(--cardbg);
    border-radius: var(--border-raduis);
    padding: 15px;
    min-width: 125px;
    max-width: 150px;
    min-height: 200px;
    margin: 20px;
    /* transition: all 0.2s cubic-bezier(.25,.8,.25,1); */
    box-shadow: var(--shadow-one);
    cursor: pointer;
}


.card:hover, a.button:hover{
    box-shadow: var(--shadow-two);
    transform: scale(1.1); 

}

.card:active,
a.button:active {
    box-shadow: var(--shadow-inset);
    opacity: 0.9;
}



#table {
    max-width: 1300px;
    height:80vw;
}


#table #cardRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -15px;
}

a.button {
    padding: 5px 10px;
    color: var(--textcolor);
    box-shadow: var(--shadow-one);
    font-size:10px;
    margin:0 15px;
    font-weight: 700;
    transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
    display: inline-table;
    cursor: pointer;
}


/* dragging */
.draggable-source--is-dragging{
opacity: 0.15;
overflow: hidden;
box-shadow: none!important;}


.draggable-mirror	{
    box-shadow: 7px 99px 134px -45px rgba(0,0,0,0.31)!important;
    opacity: 0.8;
    z-index: 50;
}

.draggable-container--over{
    background-color: #eeeeee;
}

div{
outline: none!important}

#board{
    margin-bottom:340px;
    width: 90%;
    padding:20px;
    display: flex;
}
#tablecontainer{
    float:left;
    width:100%;
}
#deckcontainer{
    float:right;
}


/* hand misc */

#handcontianer{
box-shadow: var(--shadow-one);
position: fixed;
padding:10px;
max-height:300px;
overflow: scroll;
width:100%;
bottom:0;
background: rgba(255, 255, 255, 0.851);
z-index: 30;
transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.175);

}

#handcontianer.hide{
    bottom:-200px;
}

.bottomThird{
    position: absolute;
    z-index:0;
    height:35vh;
    bottom:0;
    width: 100%;
}


/* deck misc */

#deck .card:nth-child(n+2){ position: absolute; margin-bottom:-1px;}
#deck .card:nth-child(1){ z-index:2; }
#deck .card:not(:hover) div {visibility:hidden;}
#deck .card:not(:hover) {background: url('img/backs.png'); background-size: contain; }
#deck .card:nth-child(6){  }
