:root {
    --textcolor: #3e3e3e;
    --textsecondarycolor: #828282;
    --cardbg: white;
    --bqindents: 40px;
    --border-raduis: 2px;
    --shadow-one: 0 1px 3px rgba(31, 17, 11, 0.08), 0 1px 2px rgba(44, 33, 29, 0.12);
    --shadow-two: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    --shadow-inset: inset 0px 10px 84px -23px rgba(17, 20, 38, 0.1);
    user-select: none;
}

p,
h1,
h2,
h3,
h4,
h5,
li,
div {
    font-family: quiroh, helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-top:0;
    font-style: normal;
    color: var(--textcolor);
}

h4{
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
}

body {
    background: #ffffff;
    opacity: 0;
}

.ui-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

.card {
    background: var(--cardbg);
    border-radius: var(--border-raduis);
    padding: 20px;
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    margin: 20px;
    /* transition: all 0.2s cubic-bezier(.25,.8,.25,1); */
    box-shadow: var(--shadow-one);
    transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
    transition: positio 0.15s cubic-bezier(.25, .8, .25, 1);

    cursor: pointer;
}


.card:hover,
a.button:hover {
    box-shadow: var(--shadow-two);
}

.card:active,
a.button:active {
    box-shadow: var(--shadow-inset);
    opacity: 0.9;
}



#table {
    max-width: 1300px;
    padding: 30px;
}


#table #cardRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -15px;
}

a.button {
    padding: 10px 15px;
    color: var(--textcolor);
    box-shadow: var(--shadow-one);
    font-weight: 700;
    transition: all 0.15s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}